
$text-font: roboto;
$title-font: shrikhand;
$grey:#f9f9f9;
$white: #ffffff;
$blacktransparent:rgba(0,0,0,0.1);
$purple:#9356dc;
$pink: #ff79da;
$mintgreen: #99e2d0;
$darkmintgreen:#4f9e8b;
$lavender: 	#E6E6FA;
$lightgrey:lightgrey;
$mintgreen: #99e2d0;
$shadow-effect: 0 0 15px 0 rgba(0, 0, 0, 0.2);
$gradientcolor:linear-gradient( to bottom right,#9356dc, #ff79da );

