.card{
    width: 92%;
    height: 350px;
    border-radius: 15px;
    background-color: $white;
    margin: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    &__image{
        height: 250px;
        width: 100%;
        margin: 0 auto;
        object-fit: scale-down;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
    }
    &__title{
        display: inline-block;
        text-decoration: none;
        margin: 10px;
    }
    &__description{
        text-decoration: none;
        padding-left: 10px;
    }
    &__icon{
        display: inline-block;
        font-size: 32px;
        position: absolute;
        right: 10px;

          
    }
    &__a, a:link, a:visited, a:focus, a:hover, a:active{
        text-decoration:none;
        color: black;
       }
}

